<% if @stock %>
	<div class="well result">
		<strong>Symbol:</strong> <%= @stock.ticker	%>
		<strong>Name:</strong> <%= @stock.name	%>
		<strong>Price:</strong> USD <%= @stock.last_price	%>
	</div>
<% end %>